@font-face {
	font-family: 'Roboto';
	font-family: 'Arial', sans-serif;
	src: url('tipografia/Roboto-Regular.ttf') format("truetype");
	src: url('tipografia/Roboto-Regular.eot');
}

html,
body {
	height: 100%;
	width: 100%;
	margin: auto;
	padding: 0;
	background-color: #eee !important;
}

form {
	margin: 0;
	padding: 0;
}


.row {
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.header-titulo{
    background: #abdfbe;
    color:#000;
    margin-bottom:10px
}

.header-subtitulo{
    background-color:#f7f7f7 ;
    color:#000;
    font-weight: bold;
}

.btn-success {
	color: #000;
    background-color: #bde7df;
    border-color: #bde7df;
}

textarea.form-control{
    height: 6em;
}

.form-control {
	display: block;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .00rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.contenedor-principal {
	width: 100%;
	background-color: #ffffff;
	margin-top: 15px;
}

.borde-container {
	border: rgb(187, 187, 187) 1px solid;
	background-color: rgb(255, 255, 255);
    margin-top: 15px;
}






#descrip_prod {
	position: absolute;
	width: 10px;
	height: 10px;
}
/*Paginacion*/
.wr-paginacion{
    margin: 25px 0px !important;
    display: flex;
    justify-content: space-between;
}

.wr-pagination{
    display: flex;
    position: relative;
    list-style: none !important;
    justify-content: right !important;
    font-family: Poppins !important;
    flex-wrap: wrap;
}

.wr-pagination>li>a{
    background: #ffffff;
    margin: 3px;
    color: #000000;
    padding: 8px 15px;
    border-radius: 15px;
    border: 1px solid #1884c3;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    line-height: 2.5;
}
.wr-pagination>li>a:hover{
    border: 1px solid #1884c3;
    background-color: #1884c3;
    color:#000000;
}

.wr-paginacion-active{
    border: 1px solid #1884c3 !important;
    color:#ffffff !important;
    background-color: #1884c3 !important;
}

/*Caja para buscar*/
.wr-contenedor-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px ;
}
.wr-input-wrapper {
    position: relative;
    width: 271px;
}
#wr-input-icon {
    color: #191919;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 55%;
    transform: translateY(-50%);
}
.wr-input-notifica {
    box-sizing: border-box;
    color: #191919;
    padding: 10px 10px 10px 35px !important;
    width: 100% !important;
    background: #ffffff !important;
    border-radius: 10px !important;
    margin-bottom: 0 !important;
}

.wbct-box-imagenes{
    text-align: center;
}